pytest
black
flake8
mypy
isort
pre-commit
ruff
pytest-benchmark
asv
pyannotate

mkdocs 
mkdocs-material
mkdocs-bibtex 
mkdocs-jupyter 
mkdocstrings 
mkdocs-include-markdown-plugin
mkdocs-graphviz
mkdocs-mermaid2-plugin
mkdocs-git-revision-date-localized-plugin